.forecast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #EDCDBB;
  border-radius: 10px;
  width: 80%;
  margin: 25px auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.forecast-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.forecast-label {
  padding: 10px;
  color: black;
  font-size: 18px;
  width: 100%;
  display: inline;
  align-items: center;
}

.forecast-retrain {
  font-size: 20px;
}

.forecast-checkbox {
  height: 3vh;
  width: 3vh;
  color: bisque;
}

.forecast-input {
  padding: 10px;
  color: black;
  background-color: #E3B7A0;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
}

.forecast-button {
  padding: 10px 20px;
  background-color: #E3B7A0;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid #000000;
}

.forecast-button:hover {
  background-color: #FFEDDB;
  border-radius: 4px;
}

.forecast-error {
  color: red;
  font-size: 16px;
}

.forecast-result {
  width: 100%;
  text-align: center;
}

.forecast-total {
  color: black;
  font-size: 24px;
  margin-bottom: 20px;
}

.forecast-plot .user-select-none .svg-container{
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

h3 {
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .forecast-container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .forecast-container {
    width: 100%;
    padding: 15px;
  }

  .forecast-label {
    font-size: 16px;
  }

  .forecast-input {
    font-size: 14px;
  }

  .forecast-button {
    font-size: 14px;
  }

  .forecast-total {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .forecast-container {
    width: 100%;
    padding: 10px;
  }

  .forecast-label {
    font-size: 14px;
  }

  .forecast-input {
    font-size: 12px;
  }

  .forecast-button {
    font-size: 12px;
  }

  .forecast-total {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}
