.forecast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.forecast-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.forecast-label {
  color: white;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  width: 100%;
  text-align: left;
}
.forecast-checkbox-label {
  height: 4vh;
  width: 8vh;
}

.forecast-checkbox {
  height: 4vh;
  width: 8vh;
  margin-top: 10px;
  margin-left: 10px;
}

.forecast-input {
  padding: 10px;
  color: white;
  background-color: rgba(101, 58, 58, 0.866);
  border: none;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

.forecast-button {
  padding: 10px 20px;
  background-color: rgba(101, 58, 58, 0.866);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forecast-button:hover {
  background-color: rgba(129, 53, 53, 0.866);
}

.forecast-error {
  color: red;
  font-size: 16px;
}

.forecast-result {
  width: 100%;
  text-align: center;
}

.forecast-total {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.forecast-plot {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .forecast-container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .forecast-container {
    width: 100%;
    padding: 15px;
  }

  .forecast-label {
    font-size: 16px;
  }

  .forecast-input {
    font-size: 14px;
  }

  .forecast-button {
    font-size: 14px;
  }

  .forecast-total {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .forecast-container {
    width: 100%;
    padding: 10px;
  }

  .forecast-label {
    font-size: 14px;
  }

  .forecast-input {
    font-size: 12px;
  }

  .forecast-button {
    font-size: 12px;
  }

  .forecast-total {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}
